<%= render 'shared/portfolio_header' %>
<div class="album bg-light">
  <div class="container">
    <%= link_to 'create a new portfolio item', new_portfolio_path if logged_in?(:site_admin) %>
    <span class='text-dark'>Drag and drop the elements</span>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 sortable">
      <%= render partial: 'portfolio_item', collection: @portfolio_item %>
    </div>
  </div>
</div>
