<footer class="text-white mt-auto pb-0 mb-0">
  <%= copyright_generator %>
  <a href='https://www.codewars.com/users/Lucas-dos-Santos' target='_blank'>
    <img src="https://www.codewars.com/users/Lucas-dos-Santos/badges/micro" alt='code wars'>
  </a>
</footer>
