<div class="position-sticky" style="top: 2rem;">
  <div class="p-4 mb-3 rounded border-sidebar">
    <h4 class="fst-italic"><i class="fab fa-hive text-secondary"></i> Topics</h4>
    <% Topic.all.each do |topic| %>
      <span class="badge bg-secondary"><%= link_to topic.title, topic_path(topic), class: 'text-white text-decoration-none' %></span>
    <% end %>
  </div>
  <div class="p-4 rounded border-sidebar">
    <h4 class="fst-italic"><i class="fab fa-twitter-square twt-color"></i> Twitter News </h4>
    <ol class="list-unstyled mb-0">
      <% @tweets.each do |tweet| %>
        <li><span class='text-danger'><%= tweet[:name] %></span>: <%= twitter_parser(tweet[:text]) %></li>
        <hr>
      <% end %>
    </ol>
  </div>
</div>
