<footer class="mt-4 text-dark-50 text-center">
  <p><%= copyright_generator %>
    <a href='https://www.codewars.com/users/Lucas-dos-Santos' target='_blank'>
      <img src="https://www.codewars.com/users/Lucas-dos-Santos/badges/micro" alt='code wars'>
    </a>
  </p>
</footer>
