<footer class="text-muted py-4 mt-5">
  <div class="container">
    <p class="float-end">
      <%= link_to 'View all portfolio items', portfolios_path %>
    </p>
    <%= copyright_generator %>
  </div>
</footer>
