<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3><i class="fab fa-linkedin"></i> Profile Linkedin</h3>
    <p><a href='https://www.linkedin.com/in/lucas--dos--santos' target='_blank'>My profile</a></p>
    <h3><i class="fas fa-phone-square-alt"></i> Phone</h3>
    <p> <a href="tel:+55 (47) 98419-5131" target='_blank'>+55 (47) 98419-5131</a></p>
    <h3><i class="fas fa-envelope-square"></i> Email</h3>
    <p><a href="mailto:lucas.ffr2014@gmail.com?subject=PortfolioContact">Email me</a> </p>
  </div>
</div>
