a {
  text-decoration: none !important;
}

body {
  font-family: 'Lato', sans-serif !important;
}

.blog-jumbotron {
  background: url('https://i.ibb.co/sm6XhNN/luca-bravo-XJXWbf-So2f0-unsplash.jpg');
  background-size: cover;
  height: 300px;
  opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif !important;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2rem;
  overflow-y: hidden;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.social-links a {
  font-size: 1.5em;
  margin: 0 0.7rem;
}

.social-links a:hover {
  opacity: 0.5
}

.blog-logo {
  font-size: 1.7rem;
}

.active {
  font-weight: bold;
  color: #333 !important;
  border-bottom: 2px solid #333;
}

.twt-color {
  color: #00ACEE;
}

.count-sum {
  display: inline;
}

.teste {
  display: flex;
  justify-content: space-between;
}

.border-sidebar {
  background: #C7F9FF;
}

.check-boxes {
  input {
    margin: 0 10px;
  }
}

.breadcrumb-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D4F4DD;
  border-radius: 5px;
}
